.grid-game {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: white;
    gap: 2px;
    position: relative;
    height: 80%;
}

.square {
    aspect-ratio: 1/1;
}

.square.blue {
    background-color: blue;
}

.square.red {
    background-color: red;
}