.grid-wrapper {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    border: 2px solid black;
}

.grid-game {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    position: relative;
    height: 80%;
    background-color: #1E1E1E;
    border-radius: 15px;
}

.square {
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.square.blue {
    background-color: blue;
}

.square.red {
    background-color: red;
}