.grid-game {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    position: relative;
    height: 80%;
    border-radius: 15px;
}

.square {
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.square.blue {
    background-color: blue;
}

.square.red {
    background-color: red;
}