.math-game {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 80%;
    background-color: #1E1E1E;
    border-radius: 15px;
}

.math-problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
    height: 50%;
}

.problem {
    font-size: 7em;
    color: white;
    height: 50%;
}

.answer-and-submit {
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button  {
    display: none;
}

#math-answer {
    background-color: #efe4b0;
    height: 50%;
    width: 40%;
    font-size: 4rem;
    border-radius: 5px;
    text-align: center;
}

#submit-math-answer {
    background-color: #b5e61d;
    height: 50%;
    width: 30%;
    border-radius: 15px;
    font-size: 3rem;
}

.math-keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.math-keypad .keypad-button {
    height: 50px;
    border-radius: 15px;
}

.math-keypad .keypad-button:first-child {
    grid-row: 4;
    grid-column: 1/3;
}