.math-wrapper {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    border: 2px solid black;
}

.math-game {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 80%;
    background-color: #1E1E1E;
    border-radius: 15px;
}

.math-problem {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.math-keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.math-keypad .keypad-button {
    height: 50px;
}

.math-keypad .keypad-button:first-child {
    grid-row: 4;
    grid-column: 1/3;
}