.math-game {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 80%;

}

.math-problem {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.math-keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.math-keypad .keypad-button {
    height: 50px;
}

.math-keypad .keypad-button:first-child {
    grid-row: 4;
    grid-column: 1/3;
}