.pattern-game {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    gap: 15px;
    height: 80%;
}

.pattern-button {
    flex: 1;
    height: 100px;
}

.blue {
    background-color: #1E90FF
}

.green {
    background-color: #7ED321;;
}

.yellow {
    background-color: yellow;
}