.pattern-game {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex: 1;
    gap: 15px;
    height: 80%;
    transition: background-color 0.2s ease;
}

.pattern-game::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: 0;
}

.pattern-game > * {
    position: relative;
    z-index: 1;
}

@keyframes pulse-bg {
    0% {
        filter: brightness(50%);
        box-shadow: 0 0 0 rgba(255,255,255,0);
    }
    25% {
        filter: brightness(150%);
        box-shadow: 0 0 30px rgba(255,255,255,0.8);
    }
    75% {
        filter: brightness(150%);
        box-shadow: 0 0 30px rgba(255,255,255,0.8);
    }
    100% {
        filter: brightness(50%);
        box-shadow: 0 0 0 rgba(255,255,255,0);
    }
}

.pulse::before {
    animation: pulse-bg 0.75s ease-in-out forwards;
}

.pattern-button {
    flex: 1;
    height: 100px;
}

.blue {
    background-color: #1E90FF
}

.green {
    background-color: #7ED321;;
}

.yellow {
    background-color: yellow;
}
