* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden
}

.games-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.game-padding {
    padding: 20px;
}