* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden
}

.game-layout {
    height: 100vh;
    background-color: #121212;
}

.hud {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 10;
    width: 100%;
}

.games-container {
    height: 100%;
    display: flex;
}

.game-padding {
    padding: 20px;
}