* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden
}

.game-layout {
    height: 100vh;
    background-color: #121212;
}

.hud {
}

.games-container {
    height: 100%;
    display: flex;
}

.game-padding {
    padding: 20px;
}

.game-wrapper {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.game-card {
    height: 80%;
    width: 100%;
    background-color: #1E1E1E;
    border-radius: 15px;
}