* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden
}

.game-layout {
    height: 93vh;
    background-color: #121212;
}

.hud {
    height: 5%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 28px;
    width: 15%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #121212;
}

.games-container {
    height: 95%;
    display: flex;
}

.game-wrapper {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 20px;
}

.game-card {
    height: 100%;
    width: 100%;
    background-color: #1E1E1E;
    border-radius: 15px;
    padding: 20px
}