.start-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-game-button {
    background-color: inherit;
    border: none;
    font-size: 56px;
    color: #fff200;
    cursor: pointer;
}