.timer-bar {
    height: 40px;
    width: 100%;
    background-color: gray;
}

.game-timer-bar {
    height: 40px;
    width: 100%;
    background-color: gray;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 10;
}