.timer-container {
    width: 100%;
}

.timer-bar {
    height: 100%;
    width: 100%;
    background-color: #fff200;
}

.game-timer-bar {
    height: 40px;
    width: 100%;
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 60px;
}