{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triple Task</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% block scripts %}{% endblock scripts %}
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <div class="main-wrapper">
        <h1><a href="{% url 'index' %}">Triple Task</a></h1>

        <div class="navbar">
            <a href="{% url 'ranking' %}">Ranking</a>
            {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <button>{{request.user}} ▼</button>
                    <div class="menu">
                        <a href="{% url 'accounts:profile' %}">Profile</a>

                        <form action="{% url 'accounts:logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" id="logout-button">Logout</button>
                        </form>    
                    </div>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'accounts:login' %}">Login</a> / <a href="{% url 'accounts:register' %}">Sign up</a>
                </div>
            {% endif %}
        </div>
        
    </div>
    
    {% block content %}
        
    {% endblock content %}
</body>
</html>