* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-wrapper {
    min-height: 93vh;
    background-color: #121212;
    padding: 40px;
}

.profile {
    color: white;
    height: 800px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.personal-record {
    font-size: 1.2rem;
    font-weight: bold;
}

.record-value {
    color: #ffd700;
}

h2 {
    margin-top: 30px;
    margin-bottom: 12px;
}

.recent-matches {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid white;
    height: 70%;
    width: 100%;
    border-radius: 15px; 
    overflow: hidden;
}

.recent-matches span {

    margin: auto;
    border: 1px solid white;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 0px;

}

.label {
    font-size: 26px;
    font-weight: bold;
}