.main-wrapper {
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 7vh;
    border-bottom: 2px solid black;
}

h1 {
    color: white;
}